@{
    ViewBag.Title = "Derby Manager";
}

<div id="mainContent">
    @Html.Partial("NavBarView")
    @Html.Partial("TournamentPickerView")
    <div id="body-content" class="body-content">
        @Html.Partial("UpcomingRacesView")
        @Html.Partial("CurrentRaceView")
        @Html.Partial("StandingsView")
        @Html.Partial("RaceResultView")
    </div>
</div>

@helper Result_Car()
{
    @:<span data-bind="text: Car.ID + ' - ' + Car.Builder + ' - ' + Car.Name">
}



@section scripts
{
    <script src="~/Scripts/Common/customBindings.js"></script>
    <script type="text/javascript">
        require(["Scripts/views/derbymanager"], function (module) {
            var viewModel = new module.ViewModel('@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/")');
        });
    </script>
}
