<div id="race-results">
    <div id="race-result">
        <!-- ko foreach: DisplayedRaceResult() -->
        <div class="race" data-bin="with: DisplayedRaceResult(), visible: DisplayedRaceResult() != null">
            <!-- ko if: $root.IsRaceCompleted($data) -->
            <div class="race-title">Race #<span data-bind="text: RaceNumber"></span> - <span data-bind="text: Group"></span> / Final</div>
            <!-- ko foreach: Enumerable.From($root.RaceResults($data)).OrderBy(function (rr) { return rr.Place; } ).ToArray() -->
            <div class="place-1 car" data-bind="visible: $data.Place == 1 && !$root.IsBye($data)">1st: @Result_Car()</div>
            <div class="place-2 car" data-bind="visible: $data.Place == 2 && !$root.IsBye($data)">2nd: @Result_Car()</div>
            <div class="place-3 car" data-bind="visible: $data.Place == 3 && !$root.IsBye($data)">3rd: @Result_Car()</div>
            <div class="place-4 car" data-bind="visible: $data.Place == 4 && !$root.IsBye($data)">4th: @Result_Car()</div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: !$root.IsRaceCompleted($data) -->
            <div class="race-title">Race #<span data-bind="text: RaceNumber"></span> - <span data-bind="text: Group"></span></div>
            <div class="lane-1 car" data-bind="with: Car1, visible: !$root.IsBye(Car1)">Lane 1: @Result_Car()</div>
            <div class="lane-2 car" data-bind="with: Car2, visible: !$root.IsBye(Car2)">Lane 2: @Result_Car()</div>
            <div class="lane-3 car" data-bind="with: Car3, visible: !$root.IsBye(Car3)">Lane 3: @Result_Car()</div>
            <div class="lane-4 car" data-bind="with: Car4, visible: !$root.IsBye(Car4)">Lane 4: @Result_Car()</div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
</div>

@helper Result_Car()
{
    @:<span data-bind="text: Car.ID + ' - ' + Car.Builder + ' - ' + Car.Name">
}
